@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

img {
  animation: 1s appear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  @apply bg-slate-900 w-3;
}

::-webkit-scrollbar-track {
  @apply bg-slate-700;
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-slate-500 hover:bg-slate-400;
}
